<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>
  <meta name="generator" content="HTML Tidy for Linux (vers 14 June 2007), see www.w3.org">
  <meta content="text/html; charset=utf-8" http-equiv="content-type">

  <title>ULib search engine: a full-text search system for communities</title>
  <link title="Services" rel="stylesheet" href="/css/pagination.min.css" type="text/css">
</head>

<body>
  <div id="estform" class="estform">
    <form action="seek.%s" method="post" id="form_self" name="form_self">
      <div class="form_navi">
        <a href="%s" class="navilink">help</a>
      </div>

      <div class="form_basic">
        <input type="text" name="phrase" value="" size="80" id="phrase" class="text" tabindex="1" accesskey="0"> <input type="submit" value="Search"
        id="search" class="submit" tabindex="2" accesskey="1">
      </div>

      <div class="form_extension">
        <select name="perpage" id="perpage" tabindex="3">
          <option value="10" selected="selected">
            10
          </option>

          <option value="20">
            20
          </option>

          <option value="30">
            30
          </option>

          <option value="40">
            40
          </option>

          <option value="50">
            50
          </option>

          <option value="60">
            60
          </option>

          <option value="70">
            70
          </option>

          <option value="80">
            80
          </option>

          <option value="90">
            90
          </option>

          <option value="100">
            100
          </option>
        </select> per page
      </div>
    </form>
  </div>%s

  <div id="estinfo" class="estinfo">
    Powered by <a href="http://www.unirel.com/">ULib search engine</a> %s
  </div>
</body>
</html>
