#distance { 
	width:1px;
	height:60%;
	background-color:#fc6;
	margin-bottom:-13.75em;
	float:left;
	}

#container {
	letter-spacing:1px;
	margin:0 auto;
	position:relative;
	text-align:left;
	width:35.000em;
	clear:left;
	overflow:hidden;
	}
#containerBig {
	letter-spacing:1px;
	margin:0 auto;
	margin-top:3em;
	position:relative;
	text-align:left;
	width:60%;
	clear:left;
	overflow:hidden;
	}
#container #wrapperAuto {
	height:auto;
	}
#loginbox {
	display:block;
	width:17.000em;
	float:right;
	}
#loginbox div#pageWrap {
	padding-left:20%;
	padding-right:20%;
	}
#creditsbox {
	background-image:url('images/logo_t.service_NoSfondo.png');
	background-repeat:no-repeat;
	background-position:50% 20%;
	display:block;
	width:9.900em;
	height:23.5em;
	float:left;
	text-shadow:2px 2px 2px rgba(0, 0, 0, .25);
	color:#FF0000;
	text-align:center;
	}
#creditsbox a {
	display:block;
	padding-top:16em;
	}
div#topBanner {
	position:absolute;
	display:block;
	width:auto;
	height:auto;
	top:20px;
	right:0;
	left:0;
	text-align:center;
	}
div#bottomBanner {
	position:absolute;
	display:block;
	width:auto;
	height:100px;
	right:0;
	left:0;
	bottom:20px;
	text-align:center;
	}
div#rightBanner {
	position:absolute;
	display:block;
	width:300px;
	height:auto;
	top:20px;
	bottom:20px;
	right:20px;
	margin-top:auto;
	margin-bottom:auto;
	}
div#leftBanner {
	position:absolute;
	display:block;
	width:300px;
	height:auto;
	top:20px;
	bottom:20px;
	left:20px;
	margin-top:auto;
	margin-bottom:auto;
	}
div.banner300x250 {
	display:block;
	width:300px;
	height:250px;
	right:0;
	left:0;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	padding-top:5px;
	padding-bottom:5px;
	}
div.banner300x600 {
	display:block;
	width:300px;
	height:600px;
	right:0;
	left:0;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	}
div.banner468x60 {
	display:block;
	width:468px;
	height:60px;
	right:0;
	left:0;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	}
div.banner728x90 {
	display:block;
	width:728px;
	height:90px;
	right:0;
	left:0;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	}
