<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="generator" content="HTML Tidy for Linux (vers 25 March 2009), see www.w3.org" />
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <link rel="stylesheet" href="/ra-station/css/style.css" type="text/css" />

  <title>Contratto residenziale con cpe</title>
</head>

<body>
  %s

  <table>
    <col width="140" />
    <col width="500" />

    <tbody>
      <tr>
        <td><img src="/ra-station/images/sx-logo.jpg" /></td>

        <td>
          <h3 class="center">MODULO DI ADESIONE<br />
          ABBONAMENTO RESIDENZIALE CON CPE</h3>

          <h2 class="center">T-UNWIRED FLAT</h2>
        </td>

        <td><img src="/ra-station/images/dx-logo.png" /></td>
      </tr>
    </tbody>
  </table>

  <table border="1" bordercolor="#C0C0C0" cellpadding="4" cellspacing="0" width="700">
    <col width="93" />
    <col width="106" />
    <col width="41" />
    <col width="65" />
    <col width="13" />
    <col width="11" />
    <col width="23" />
    <col width="0" />
    <col width="37" />
    <col width="0" />
    <col width="3" />
    <col width="0" />
    <col width="111" />
    <col width="0" />
    <col width="0" />
    <col width="5" />
    <col width="5" />
    <col width="9" />
    <col width="60" />

    <tbody>
      <tr>
        <td colspan="19" valign="top" width="711">
          <div class="table_header">
            DATI UTENTE:
          </div>
        </td>
      </tr>

      <tr>
        <td colspan="19" valign="top" width="711">
          <div class="table_data_content_bigger">
            Intestazione contratto
          </div>
        </td>
      </tr>

      <tr valign="top">
        <td width="93">
          <div class="table_data_header">
            Nome e Cognome
          </div>
        </td>

        <td colspan="18" width="610">
          <div class="table_data_content">
            %s %s
          </div>
        </td>
      </tr>

      <tr valign="top">
        <td width="93">
          <div class="table_data_header">
            Nato a
          </div>
        </td>

        <td colspan="8" width="352">
          <div class="table_data_content">
            %s
          </div>
        </td>

        <td colspan="2" width="9">
          <div class="table_data_header">
            il
          </div>
        </td>

        <td colspan="4" width="123">
          <div class="table_data_content">
            %s
          </div>
        </td>

        <td colspan="3" width="35">
          <div class="table_data_header">
            Sesso
          </div>
        </td>

        <td valign="bottom" width="60">
          <div class="table_data_content">
            %s
          </div>
        </td>
      </tr>

      <tr valign="top">
        <td width="93">
          <div class="table_data_header">
            Codice Fiscale
          </div>
        </td>

        <td colspan="18" width="229">
          <div class="table_data_content">
            %s
          </div>
        </td>
      </tr>

      <tr valign="top">
        <td width="93">
          <div class="table_data_header">
            Indirizzo
          </div>
        </td>

        <td colspan="18" width="610">
          <div class="table_data_content">
            %s
          </div>
        </td>
      </tr>

      <tr valign="top">
        <td width="93">
          <div class="table_data_header">
            Comune
          </div>
        </td>

        <td colspan="6" width="299">
          <div class="table_data_content">
            %s
          </div>
        </td>

        <td colspan="3" width="49">
          <div class="table_data_header">
            Provincia
          </div>
        </td>

        <td colspan="3" width="125">
          <div class="table_data_content">
            %s
          </div>
        </td>

        <td colspan="4" width="27">
          <div class="table_data_header">
            CAP
          </div>
        </td>

        <td colspan="2" width="77">
          <div class="table_data_content">
            %s
          </div>
        </td>
      </tr>

      <tr valign="top">
        <td width="93">
          <div class="table_data_header">
            Documento
          </div>
        </td>

        <td valign="bottom" width="106">
          <div class="table_data_content">
            %s
          </div>
        </td>

        <td width="41">
          <div class="table_data_header">
            Numero
          </div>
        </td>

        <td colspan="5" valign="bottom" width="143">
          <div class="table_data_content">
            %s
          </div>
        </td>

        <td colspan="1" width="56">
          <div class="table_data_header">
            Rilasciato da
          </div>
        </td>

        <td colspan="5" valign="bottom" width="118">
          <div class="table_data_content">
            %s
          </div>
        </td>

        <td colspan="2" width="7">
          <div class="table_data_header">
            il
          </div>
        </td>

        <td colspan="3" valign="bottom" width="90">
          <div class="table_data_content">
            %s
          </div>
        </td>
      </tr>

      <tr valign="top">
        <td width="93">
          <div class="table_data_header">
            Telefono
          </div>
        </td>

        <td colspan="4" width="249">
          <div class="table_data_content">
            %s
          </div>
        </td>

        <td colspan="2" width="42">
          <div class="table_data_header">
            Fax
          </div>
        </td>

        <td colspan="2" width="202">
          <div class="table_data_content">
            %s
          </div>
        </td>

        <td colspan="2" width="50">
          <div class="table_data_header">
            Cellulare
          </div>
        </td>

        <td colspan="10" width="50">
          <div class="table_data_content">
            %s
          </div>
        </td>
      </tr>

      <tr>
        <td colspan="19" valign="top" width="711">
          <div class="table_data_content_bigger">
            Installazione
          </div>
        </td>
      </tr>

      <tr valign="top">
        <td colspan="1" width="90">
          <div class="table_data_header">
            Indirizzo
          </div>
        </td>

        <td colspan="18" width="610">
          <div class="table_data_content">
            %s
          </div>
        </td>
      </tr>

      <tr valign="top">
        <td width="90">
          <div class="table_data_header">
            Comune
          </div>
        </td>

        <td colspan="6" width="299">
          <div class="table_data_content">
            %s
          </div>
        </td>

        <td colspan="2" width="49">
          <div class="table_data_header">
            Provincia
          </div>
        </td>

        <td colspan="4" width="125">
          <div class="table_data_content">
            %s
          </div>
        </td>

        <td colspan="2" width="27">
          <div class="table_data_header">
            CAP
          </div>
        </td>

        <td colspan="4" width="77">
          <div class="table_data_content">
            %s
          </div>
        </td>
      </tr><!-- Spedizione fattura START -->

      <tr>
        <td colspan="19" width="711" valign="top">
          <div class="table_data_content_bigger">
            Spedizione Fattura
          </div>
        </td>
      </tr>

      <tr valign="top">
        <td width="93">
          <div class="table_data_header">
            Destinazione
          </div>
        </td>

        <td colspan="18" width="610">
          <div class="table_data_content">
            %s
          </div>
        </td>
      </tr>

      <tr valign="top">
        <td width="93">
          <div class="table_data_header">
            Indirizzo
          </div>
        </td>

        <td colspan="18" width="610">
          <div class="table_data_content">
            %s
          </div>
        </td>
      </tr>

      <tr valign="top">
        <td width="93">
          <div class="table_data_header">
            Comune
          </div>
        </td>

        <td colspan="6" width="299">
          <div class="table_data_content">
            %s
          </div>
        </td>

        <td colspan="3" width="49">
          <div class="table_data_header">
            Provincia
          </div>
        </td>

        <td colspan="3" width="125">
          <div class="table_data_content">
            %s
          </div>
        </td>

        <td colspan="4" width="27">
          <div class="table_data_header">
            CAP
          </div>
        </td>

        <td colspan="2" width="77">
          <div class="table_data_content">
            %s
          </div>
        </td>
      </tr>

      <tr valign="top">
        <td width="93">
          <div class="table_data_header">
            EMail
          </div>
        </td>

        <td colspan="18" width="610">
          <div class="table_data_content">
            %s
          </div>
        </td>
      </tr><!-- END -->
    </tbody>
  </table><!-- Dati utente -->

  <div>
    <table border="1" bordercolor="#C0C0C0" cellpadding="4" cellspacing="0" width="700">
      <tbody>
        <tr>
          <td colspan="19" valign="top" width="711">
            <div class="table_header">
              SERVIZI/PRODOTTI:
            </div>
          </td>
        </tr>

        <tr valign="top">
          <td colspan="3" width="400">
            <div class="table_data_content">
              Abbonamento Residenziale con CPE "T-Unwired FLAT"
            </div>
          </td>

          <td colspan="2" width="340">
            <div class="table_data_content">
              (prezzo come da condizioni promozionali)
            </div>
          </td>
        </tr>

        <tr valign="top">
          <td colspan="3" width="400">
            <div class="table_data_content">
              Costo Attivazione (una tantum)
            </div>
          </td>

          <td colspan="2" width="340">
            <div class="table_data_content">
              (prezzo come da condizioni promozionali)
            </div>
          </td>
        </tr>

        <tr valign="top">
          <td colspan="5" width="700">
            <div class="table_data_content">
              Modalita' di Pagamento: bonifico bancario a T-Services s.r.l. IBAN: IT 52 A 03002 38102 000010405627
            </div>
          </td>
        </tr>

        <tr valign="top">
          <td colspan="5" width="700">
            <div class="table_data_header">
              Note
            </div>
          </td>
        </tr>

        <tr valign="top">
          <td colspan="5" width="700">
            <div class="table_data_content">
              %s
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <table border="1" bordercolor="#C0C0C0" cellpadding="4" cellspacing="0" rules="COLS" width="700">
      <tbody>
        <tr valign="top">
          <td colspan="19" valign="top" width="711">
            <div class="table_header">
              ACCETTAZIONE
            </div>
          </td>
        </tr>

        <tr>
          <td colspan="19" valign="top" width="711">
            <div class="table_data_content">
              L'Utente, congiuntamente alla seguente accettazione, dichiara espressamente di aver preso visione e di approvare:
            </div>

            <ul>
              <li>
                <div class="table_data_content">
                  l'allegata informativa
                </div>
              </li>

              <li>
                <div class="table_data_content">
                  le Condizioni Promozionali di Abbonamento (http://www.t-unwired.com/promozionali/ponza/residenziale-t-unwired-flat.pdf)
                </div>
              </li>

              <li style="list-style: none"><br /></li>

              <li>
                <div class="table_data_content">
                  le Condizioni Generali di Fornitura del Servizio (http://www.t-unwired.com/generali/generali.pdf)
                </div>
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <td width="350" valign="top">
            <div class="div_data_content_7">
              Per l'Utente
            </div>

            <div class="div_data_content_7">
              <br />
              ___________________________________ ___________________
            </div>

            <div class="div_data_content_7">
              Firma&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Data
            </div>
          </td>
        </tr>

        <tr>
          <td colspan="19" valign="top" width="711">
            <ul>
              <li>
                <div class="table_data_content">
                  Ai sensi e per gli effetti degli articoli 1341 e 1342 del codice civile, l’Utente dichiara di aver letto attentamente, di accettare
                  e di approvare specificamente i seguenti articoli delle Condizioni Generali di Contratto:

                  <div>
                    <br />

                    <div class="table_data_content_small">
                      2 - Oggetto, 4 - Descrizione del Servizio, 5 - Attivazione del Servizio, 6 - Oneri e responsabilità dell’Utente relative
                      all’Impianto, 7 - Apparecchiature, 8 - Servizio di assistenza e manutenzione, 9 - Sospensione del Servizio, 10 - Garanzia e
                      limitazioni di responsabilità, 11 - Condizioni di utilizzo del Servizio, 13 - Durata, 14 - Ipotesi particolari di recesso, 15 -
                      Risoluzione del contratto, 16 - Corrispettivo, condizioni e termini di pagamento, 18 - Variazioni del Servizio e Abbonamento,
                      23 - Reclami, Risoluzione delle controversie e Foro competente, 24 - Rinvio
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <td width="350" valign="top">
            <div class="div_data_content_7">
              <br />
              <br />
              <br />
              <br />
              <br />
              Per l'Utente
            </div>

            <div class="div_data_content_7">
              <br />
              ___________________________________ ___________________
            </div>

            <div class="div_data_content_7">
              Firma&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Data
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div style="page-break-after:always"></div><br />
  %s

  <div style="page-break-after:always"></div><br />
  %s %s
</body>
</html>
