<html>
<head>
  <meta name="generator" content="HTML Tidy for Linux (vers 25 March 2009), see www.w3.org">

  <title>Error</title>
  <meta name="test" content="error">
  <link type="text/css" href="/ra-station/css/style.css" rel="stylesheet">
</head>

<body>
  <blockquote>
    <h1>RA station</h1>
  </blockquote>

  <table>
    <col width="140">
    <col width="500">

    <tr>
      <td><img src="/ra-station/images/sx-logo.jpg"></td>

      <td>
        <h3 class="center">MODULO DI ADESIONE<br>
        ABBONAMENTO %s</h3>

        <h2 class="center">T-UNWIRED FLAT</h2>
      </td>
      <td><img src="/ra-station/images/dx-logo.png"></td>

      </td>
    </tr>
  </table><br>

  <div id="error">
    <h1>Errore in scansione documento</h1>
    <hr>

    <div id="code">
      <strong>Device:</strong> %s
    </div><br>

    <div id="message">
      %s
    </div>
  </div>
  <hr>

  <form method="post" action="/%s">
    <input type="submit" name="submit" value="Visualizza contratto">
  </form>
</body>
</html>
