  <br />
  <div id="bottoni">
    <form method="post" action="/%s">
      <input type="submit" name="submit" value="Stampa RID" onclick="stampa('bottoni');return false;"/>
		<input type="submit" name="submit" value="Visualizza contratto"/>
    </form>
  </div>
