<html>
<head>
  <meta name="generator" content="HTML Tidy for Linux (vers 25 March 2009), see www.w3.org">
  <meta http-equiv="Pragma" content="no-cache">

  <title>RA station</title>
  <link rel="stylesheet" href="/ra-station/css/style.css" type="text/css">
</head>

<body>
  <blockquote>
    <h1>RA station</h1>
  </blockquote>
  <hr>
  <img src="/ra-station/cgi-bin/%s">
  <hr>

  <form method="post" action="/%s">
    <table>
      <tr>
        <td>
          <div class="paging">
            %s
          </div>
        </td>

        <td><input type="submit" name="submit" value="Visualizza contratto"></td>
      </tr>
    </table>
  </form>
</body>
</html>
