<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>
  <meta name="generator" content="HTML Tidy for Linux (vers 1 September 2005), see www.w3.org">

  <title>Error:</title>
  <meta name="test" content="error">
  <link type="text/css" href="/CSP/WEB/css/t-services.css" rel="stylesheet">
</head>

<body text="#000000" link="red" vlink="green" bgcolor="#FFFFFF">
  <div id="error">
    <h1>Errore</h1>

    <div id="message">%s
    </div><br>

    <div id="code">
      <strong>Codice:</strong> %s
    </div><br>

    <div id="params">
      <strong>Parametri:</strong> %s
    </div><br>

	 <br>
    <div class="mail">
      Per favore contattare: <a href="mailto:csp@register.trust-engine.com">csp@register.trust-engine.com</a>
    </div>
  </div>
</body>
</html>
