To: %s

Qualcuno (anche lei) ci ha inviato una richiesta di certificato
alla nostra certificate authority.

------------- Informazioni identificative -------------

Browser Software:       %s
Initial Master Secret:  %s
Common Name:            %s
Email Address:          %s
-------------------------------------------------------

Se qualcun'altro ha abusato del suo indirizzo e-mail in sua vece
dimentichi questa comunicazione e cancelli questo messaggio.

Se effettivamente ha effettuato lei la richiesta confrontando i
dati di seguito riportati puo' generare e installare il suo certificato
seguendo il link seguente:

%s

Attenzione, utilizzi lo stesso browser sulla stessa macchina,
con lo stesso utente e configurazione che lei ha utilizzato
per sottomettere la sua richiesta. Altrimenti il suo software
si rifiutera' o fallira' nell'istallazione del certificato.

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! Le raccomandiamo di fare una copia di backup della sua !
! chiave privata e certificato alla fine del processo di !
! istallazione.                                          !
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

Se necessita di ulteriori informazioni semplicemente risponda
a questa e-mail con le domande di cui necessita risposta.
