<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>
  <meta name="generator" content="HTML Tidy for Linux (vers 1 September 2005), see www.w3.org">
  <meta content="text/html; charset=us-ascii" http-equiv="content-type">

  <title>User Certificate Check</title>
  <link title="Services" rel="stylesheet" href="/CSP/WEB/css/t-services.css" type="text/css">
</head>

<body>
  <div id="header">
    <h1 class="logo">check certificato utente</h1><br>
  </div>

  <div id="content">
    <div id="text_area">
      <h3>Se questa &eacute; la prima volta che si prova ad utilizzare il servizio si debbono espletare alcune formalit&agrave;:</h3>

      <ul>
        <li><a href="/CSP/WEB/cgi-bin/client-enroll.sh">ottenere un certificato t-services</a></li>

        <li>sottoscrivere la "policy" di erogazione</li>
      </ul>

      <h3>altrimenti si prega di contattare il supporto tecnico</h3>
    </div>

    <div id="services_menu" class="left_bar">
      <ul>
        <li>Per saperne di pi&ugrave;:</li>

        <li>Policy della CA t-services</li>

        <li>cps del certificato utente</li>

        <li>...</li>
      </ul>
    </div>
  </div>

  <div id="parameters_menu" class="right_bar"></div>

  <div class="footer">
    Copyright &copy; 2005-2008 T-Services S.r.l. Tutti i diritti riservati.
  </div>
</body>
</html>
