  <div id="wrapper">
    <div id="header">
      <table class="table_header">
        <tr>
          <td>
            <div class="logo_link"><img src="images/logo_t.service_NoSfondo.png" /></div>
          </td>
          <td>
            <div class="logo">
              <p id="lineone"><span>T-UNWIRED</span></p>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div id="content">
      <div id="doublebox">
        <table class="content_table">
          <tbody>
            <tr>
              <td>
                <div class="content_center">
                  Cliccando sul pulsante "ENTRA" l'Utente dichiara di aver letto e di accettare integralmente le "Condizioni promozionali" e le
                  "Condizioni generali di fornitura" presso un esercizio commerciale convenzionato per la vendita delle carte "Gratta&amp;Naviga" 
                  <div class="login" id="loginbox">
                    <form method="post" action="%s">
							 <input type="hidden" name="mac" value="%s" />
							 <input type="hidden" name="token" value="%s" />
							 <input type="hidden" name="redirect" value="%s" />
							 <input type="hidden" name="timeout" value="%s" />
							 <input type="hidden" name="gateway" value="%s" />
							 <input type="hidden" name="ap" value="%s" />
							 <input type="hidden" name="ip" value="%s" />
                      <ul>
                        <li id="titolo">LOGIN</li>
                        <li style="list-style: none; display: inline">
                          <div class="login_box">
                            <ul>
                              <li class="login_item">
											<label for="name">Inserisci il codice che hai ricevuto via SMS:</label>
										</li>
                              <li class="login_item">Login:</li>
                              <li style="list-style: none">
											<input class="login_input" type="text" name="uid" />
										</li>
                              <li class="login_item">Password:</li>
                              <li style="list-style: none">
											<input class="login_input" type="password" name="pass" />
										</li>
                              <li>
											<input id="login_button" type="submit" name="btn" value="Entra" />
										</li>
                            </ul>
                          </div>
                        </li>
                      </ul>
                    </form>
                  </div>
						<br />
                  Acquista Il Gratta&amp;Naviga nei punti vendita autorizzati per navigare
                  <div class="img_gratta_anteriore">
                    <a href="images/fronte_card.jpg"><img src="images/gratta_ant2.jpg" alt="Collegamento immagine anteriore del Gratta e Naviga" /></a>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="content_center_bottom">
                  Tutti i link sono accessibili dopo l'accesso.
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="clear"></div>
      </div>
    </div>
    <div id="footer">
      <div id="footer_logo">
        <p>Designed by</p>
        <p><img src="images/lv7-logo-small.png" /></p>
      </div>
    </div>
  </div>
