<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>
  <meta name="generator" content="HTML Tidy for Linux (vers 1 September 2005), see www.w3.org">

  <title>Certificate request stored</title>
  <link type="text/css" href="/CSP/WEB/css/t-services.css" rel="stylesheet">
</head>

<body text="#000000" link="red" vlink="green" bgcolor="#FFFFFF">
  <div id="header">
    <h1>Certificate request stored</h1>
  </div>

  <div id="content">
    <div id="services_menu" class="left_bar">
      Your certificate request was stored for further processing.

      <p>You will get an e-mail message with a random ID. Please answer this e-mail to confirm your certificate request. Once again the data you gave to us:</p>
    </div>

    <div id="text_area">
      <div class="param">
        <div class="lparam">
          <a href="/CSP/WEB/help/client-enroll-en.html#browser">Browser Software</a>
        </div>

        <div class="cparam">
          %s
        </div>
      </div>

      <div class="param">
        <div class="lparam">
          <a href="/CSP/WEB/help/client-enroll-en.html#commonName">Common Name</a>
        </div>

        <div class="cparam">
          %s
        </div>
      </div>

      <div class="param">
        <div class="lparam">
          <a href="/CSP/WEB/help/client-enroll-en.html#emailAddress">Email Address</a>
        </div>

        <div class="cparam">
          %s
        </div>
      </div>

      <div class="param">
        <div class="lparam">
          <a href="/CSP/WEB/help/client-enroll-en.html#SPKAC">Public Key and Challenge</a>
        </div>

        <div class="cparam">
          %d Bytes
        </div>
      </div>
    </div>
  </div>
</body>
</html>
