<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>
  <meta name="generator" content="HTML Tidy for Linux (vers 1 September 2005), see www.w3.org">

  <title>Create your request</title>
  <link type="text/css" href="/CSP/WEB/css/t-services.css" rel="stylesheet">
</head>

<body text="#000000" link="red" vlink="green" bgcolor="#FFFFFF">
  <div id="header">
    <h1>Create your request</h1>
  </div>

  <div id="content">
    <div id="text_area">
      <form action="/CSP/WEB/cgi-bin/client-enroll.sh" method="post" accept-charset="iso-8859-1">
        <div class="param">
          <div class="lparam">
            <a href="/CSP/WEB/help/client-enroll-en.html#browser">Browser Software</a>

            <div class="lrequired">
              *
            </div>
          </div>

          <div class="cparam">
            <select id="browsertype" name="browsertype" size="1">
              <option value="Opera">
                Opera
              </option>

              <option value="Safari">
                Safari
              </option>

              <option value="Firefox" selected>
                Firefox
              </option>

              <option value="Konqueror">
                Konqueror
              </option>

              <option value="Netscape Navigator">
                Netscape Navigator
              </option>

              <option value="Microsoft Internet Explorer">
                Microsoft Internet Explorer
              </option>
            </select>
          </div>
        </div>

        <div class="param">
          <div class="lparam">
            <a href="/CSP/WEB/help/client-enroll-en.html#challenge">Initial Master Secret</a>

            <div class="lrequired">
              *
            </div>
          </div>

          <div class="cparam">
            <input id="challenge" name="challenge" maxlength="30" size="30" type="password" value="">
          </div>
        </div>

        <div class="param">
          <div class="lparam">
            <a href="/CSP/WEB/help/client-enroll-en.html#commonName">Common Name</a>

            <div class="lrequired">
              *
            </div>
          </div>

          <div class="cparam">
            <input id="commonName" name="commonName" maxlength="64" size="40" value="Test Register CA">
          </div>
        </div>

        <div class="param">
          <div class="lparam">
            <a href="/CSP/WEB/help/client-enroll-en.html#emailAddress">Email Address</a>

            <div class="lrequired">
              *
            </div>
          </div>

          <div class="cparam">
            <input id="emailAddress" name="emailAddress" maxlength="64" size="40" value="">
          </div>
        </div><br>

        <div class="commands">
          <input id="bsubmit" type="submit" value="Send"> <input id="breset" type="reset" value="Reset">
        </div>
      </form>
    </div>

    <div id="services_menu" class="left_bar">
      <ul>
        <li>
          <div class="lparam">
            Certificate authority:
          </div>

          <div class="cparam">
            UserCerts
          </div>
        </li>

        <li>
          <div class="lparam">
            Certificate type:
          </div>

          <div class="cparam">
            client/email
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div id="parameters_menu" class="right_bar">
    <ul>
      <li>
        <div class="lparam">
          Certificate comment:
        </div>

        <div class="cparam">
          <a href="https://www.trust-engine.com/documents/policies/1.3.76.35.1.2.pdf">This certificate is used for strong authentication.</a>
        </div>
      </li>

      <li>Certificates of this type will be valid for <strong>%d days</strong>, approximately until <strong>%s</strong>.</li>
    </ul>
  </div>
</body>
</html>
