To: %s

Someone (maybe you) has sent a certificate request
to our certificate authority.

------------- Informazioni identificative -------------

Browser Software:       %s
Initial Master Secret:  %s
Common Name:            %s
Email Address:          %s
-------------------------------------------------------

If someone abused your name / e-mail address simply
forget about this message and delete it.

If you actually made the request comparing data below
can generate and install its certificate following the
link below:

%s

Please use the same web browser on the same machine, with same
login and configuration data as when you created the certificate
request. Otherwise your software will likely refuse to install
the certificate.

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! It is highly recommended to make a backup copy of your !
! private key and certificate right after installing it. !
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

If you have further questions simply reply to this e-mail.
