<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>
  <meta name="generator" content="HTML Tidy for Linux (vers 1 September 2005), see www.w3.org">
  <meta content="text/html; charset=us-ascii" http-equiv="content-type">

  <title>User Certificate Check</title>
  <link title="Services" rel="stylesheet" href="/CSP/WEB/css/t-services.css" type="text/css">
</head>

<body>
  <div id="header">
    <h1 class="logo">user certificate check</h1><br>
  </div>

  <div id="content">
    <div id="text_area">
      <h3>If this is the first time you try to use the service must carry out certain formalities:</h3>

      <ul>
        <li><a href="/CSP/WEB/cgi-bin/client-enroll.sh">Obtain a certificate t-services</a></li>

        <li>Sign the "policy" delivery</li>
      </ul>

      <h3>otherwise please contact technical support</h3>
    </div>

    <div id="services_menu" class="left_bar">
      <ul>
        <li>For further information:</li>

        <li>Policy of t-services CA</li>

        <li>cps user certificate</li>

        <li>...</li>
      </ul>
    </div>
  </div>

  <div id="parameters_menu" class="right_bar"></div>

  <div class="footer">
    Copyright &copy; 2005-2008 T-Services S.r.l. All rights reserved.
  </div>
</body>
</html>
