<div id="main-content-without-sidebar">
<br/>
   <center>
	 <h1>STATUS USER ACCESS</h1>
   </center>
  <hr noshade="1" />
  <table border="0" cellpadding="5" cellspacing="5">
    <tr><td>Version</td><td>1.1.0</td></tr>
    <tr><td>Current Time</td><td>%5D</td></tr>
  </table>
  <hr noshade="1" />
  <br />
  <table border="0" cellpadding="5" cellspacing="5">
   <tr><td>Access Points</td><td>%u</td></tr>
   <tr><td>Users Connected</td><td>%u</td></tr>
   <tr><td></td></tr>
   <tr><td align="center"><h2>Current Status</h2></td>
   <table border="1" cellpadding="5">
	<tr>
		<th>Access Point</th>
		<th colspan=2>Login</th>
		<th>Auth domain ALL</th>
		<th>Auth domain %s</th>
		<th colspan=2>Traffic (MB)</th>
	</tr>
	%v
	<tr>
		<td align="right">Totale</td>
		<td align="right">%u</td>
		<td align="right"></td>
		<td align="right">%u</td>
		<td align="right">%u</td>
		<td align="right">%g (GB)</td>
		<td align="right"></td>
	</tr>
  </table>
</div>
