<div id="main-content-without-sidebar">
<br/>
	<center>
	<h1>Status Network</h1>
	</center>
  <hr noshade="1" />
  <table border="0" cellpadding="5" cellspacing="5">
	 <tr><td>Version</td><td>1.1.0</td></tr>
	 <tr><td>Current Time</td><td>%5D</td></tr>
  </table>
  <hr noshade="1" />
  <br />
  <table border="0" cellpadding="5" cellspacing="5">
	<tr><td>Access Points</td><td>%u</td></tr>
	<tr><td>Users Connected</td><td>%u</td></tr>
	<tr><td></td></tr>
	<tr><td align="center"><h2>Current Users</h2></td>
	<table border="1" cellpadding="5">
	 <tr>
	 <th>User name</th>
	 <th>User ID</th>
	 <th>Auth domain</th>
	 <th>IP address</th>
	 <th>MAC address</th>
	 <th>Login time</th>
	 <th>Policy</th>
	 <th>consume</th>
	 <th>Time (min)</th>
	 <th>Traffic (MB)</th>
	 <th>AP status</th>
	 </tr>
	 %v
   </table>
  </table>
  <br />
</div>
