<div id="main-content-without-sidebar">
  <br>
  <center>
	 <h1>Visualizzazione dati</h1>
  </center>
  <br>
  <table class="centered" border="1">
	 <tr>
		<th class="header" colspan="2" align="left">Utente:&nbsp;&nbsp;%v&nbsp;&nbsp;(%v)</th>
	 </tr>

	 <tr>
		<td class="header">Tempo residuo giornaliero (min.)</td>

		<td class="data_italic">%v</td>
	 </tr>

	 <tr>
		<td class="header">Traffico residuo giornaliero (MB)</td>

		<td class="data_italic">%v</td>
	 </tr>

	 <tr>
		<td class="header">Password</td>

		<td class="data_italic">%v</td>
	 </tr>

	 <tr>
		<td class="header">Scadenza registrazione</td>

		<td class="data_italic">%v</td>
	 </tr>

	 <!--
	 <tr>
		<td class="header">Validitá (gg)</td>
		<td class="data_italic">%v</td>
	 </tr>
	 -->

	 <tr>
		<td class="header">Revocato</td>

		<td class="data_italic">%v</td>
	 </tr>
	 <tr>
		 <td class="header">Policy</td>

		 <td class="data_italic">%v</td>
	 </tr>
	 <tr>
		 <td class="header">Attivazione</td>

		 <td class="data_italic" style="color:%v">%v</td>
	 </tr>
	 <tr>
		 <td class="header">Recovery</td>

		 <td class="data_italic">%u</td>
	 </tr>

	 <tr>
		 <td class="header">Connesso</td>

		 <td class="data_italic">%v</td>
	 </tr>
	 <tr>
		<td class="header">Tempo consumato (min.)</td>

		<td class="data_italic">%v</td>
	 </tr>

	 <tr>
		<td class="header">Traffico consumato (MB)</td>

		<td class="data_italic">%v</td>
	 </tr>
	 <tr>
		 <td class="header">Ultima modifica</td>

		 <td class="data_italic">%#3D</td>
	 </tr>

  </table>
  <br>
  <br>
</div>
