<div id="main-content-without-sidebar">
<br/>
   <center>
	 <h1>Visualizzazione dati utilizzo</h1>
   </center>
  <hr noshade="1" />
  <table border="0" cellpadding="5" cellspacing="5">
    <tr><td>Version</td><td>1.1.0</td></tr>
    <tr><td>Current Time</td><td>%5D</td></tr>
  </table>
  <hr noshade="1" />
  <br />
  <table border="0" cellpadding="5" cellspacing="5">
   <tr><td>Access Points</td><td>%u</td></tr>
   <tr><td>Users Connected</td><td>%u</td></tr>
   <tr><td></td></tr>
  </table>
  <hr noshade="1" />
  <table border="0" cellpadding="5" cellspacing="5">
	 <tr>
		<td class="header">Utenti connessi giornaliero</td>
		<td class="data_italic">%u</td>
	 </tr>
	 <tr>
		<td class="header">Tempo medio di permanenza degli utenti giornaliero (min.)</td>
		<td class="data_italic">%u</td>
	 </tr>
	 <tr>
		<td class="header">Traffico generato giornaliero (GB) (compreso %u Access Points senza consumo)</td>
		<td class="data_italic">%u</td>
	 </tr>
  </table>
</div>
