<div id="main-content-without-sidebar">
  <br>
  <center>
	 <h1>%s</h1>
  </center><br>
  <br>
  <br>
  <p class="bigger">Stai facendo il recovery dell'utente: %s (%s)</p><br>
  <br>
  <form method="post" name="form" action="%s" id="form">
	 <input id="wa_cell" type="hidden" name="wa_cell" value="%s"> <input id="confirm" type="submit" name="submit" value="Confermi?">
  </form><br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
