 <tr>
	<td>%v@%v:%u/%v</td>
	<td align="right">%u</td>
	<td align="right">%2.2f%%</td>
	<td align="right">%u</td>
	<td align="right">%u</td>
	<td align="right">%u</td>
	<td align="right">%2.2f%%</td>
 </tr>
