  <div id="containerBig">
    <div id="wrapperAuto">
      <div id="loginbox" style="width:100%%;height:100%%;padding:0px;margin:0px;">
        <div id="menulogo" class="menurow">
				<img src="images/logo_fiwifi-n.png" />
		  </div>

        <center><h1>Stato utente</h1></center>
		  <br />
		  <table border="1" cellpadding="5">
          <tr><th>Utente:&nbsp;&nbsp;%v&nbsp;&nbsp;(%v)</th></tr>
          <tr><th>Access Point:&nbsp;&nbsp;%v&nbsp;&nbsp;</th></tr>
		  </table>
		  <br />
		  <table border="1" cellpadding="5">
          <tr>
            <th>User UID</th>
            <th>IP address</th>
            <th>Connection time</th>
            <th>Elapsed connection time</th>
            <th>Left connection time</th>
            <th>Consumed traffic</th>
            <th>Left traffic</th>
            <th>MAC address</th>
            <th>Status</th>
          </tr>
		    %v
		  </table>

        <div style="clear: both;"></div>
        <div id="footer"></div>
      </div>

      <div style="clear: both;"></div>
    </div>
  </div>
