 <tr>
	<td class="padded">%v</td>
	<td class="padded" rowspan=%u><a href="http://%v/status_ap_no_label?ap=%v@%v&public=%v%%3A%u">%v</a></td>
	<td class="padded" rowspan=%u>%v</td>
	<td class="padded" rowspan=%u style="color:%s">%s</td>
	<td class="padded">%u</td>
 </tr>
