 <tr>
	<td class="padded">%.*s</td>
	<td class="padded">%.*s</td>
	<td class="padded">%.*s</td>
	<td class="padded">%.*s</td>
	<td class="padded">%.*s</td>
	<td class="padded">%#3D</td>
	<td class="padded">%.*s</td>
	<td class="padded" style="color:%s">%s</td>
	<td class="padded" align="right">%s</td>
	<td class="padded" align="right">%s</td>
	<td class="padded"><a href="http://%s/status_ap?ap=%.*s@%.*s&public=%.*s:%u">%.*s</a></td>
 </tr>
