 <tr>
	<td class="padded">%.*s</td>
	<td class="padded" rowspan=%u><a href="http://%s/webif_ap?ap=%.*s@%.*s&public=%.*s:%u">%.*s</a></td>
	<td class="padded" rowspan=%u>%.*s</td>
	<td class="padded" rowspan=%u>%#2D</td>
	<td class="padded" rowspan=%u style="color:%s">%s</td>
	<td class="padded" rowspan=%u>%#2D</td>
	<td class="padded" rowspan=%u>%#3D</td>
	<td class="padded" style="color:%s">%s</td>
	<td class="padded">%.*s</td>
	<td class="padded">%.*s</td>
	<td class="padded"><a href="https://%s/admin_edit_ap?ap=%.*s@%.*s&public=%.*s:%u">Edit</a></td>
 </tr>
