 <tr>
	<td class="padded">%v</td>
	<td class="padded" style="color:%s">%s</td>
	<td class="padded">%v</td>
	<td class="padded">%v</td>
	<td class="padded"><a href="https://%v/admin_edit_ap?ap=%v@%v&public=%v%%3A%u">Edit</a></td>
 </tr>
