 <tr>
	<td class="padded">%v</td>
	<td class="padded">%v</td>
	<td class="padded">%v</td>
	<td class="padded">%v</td>
	<td class="padded">%v</td>
	<td class="padded">%#3D</td>
	<td class="padded">%v</td>
	<td class="padded" style="color:%s">%s</td>
	<td class="padded" align="right">%v</td>
	<td class="padded" align="right">%v</td>
	<td class="padded"><a href="http://%v/status_ap?ap=%v@%v&public=%v%%3A%u">%v</a></td>
 </tr>
