<div id="bottoni">
 <form method="post" action="%s">
	  <input type="submit" name="submit" value="Reset scansione"/>
	  <input type="submit" name="submit" value="Attiva scansione singola"/>
	  <input type="submit" name="submit" value="Attiva scansione multipla" %s/>
<input type="submit" name="submit" value="Visualizza scansione" %s/>
<input type="submit" name="submit" value="Visualizza RID"/>
	  <input type="submit" name="submit" value="Stampa contratto" onclick="stampa('stampa-contratto-%s');return false;"/>
<input type="submit" name="submit" value="Registra contratto" %s/>
 </form>
</div>
