<table width="800" border="1" bordercolor="#C0C0C0">
 <tr>
	<td colspan="2"><span class="Stile3">I campi contrassegnati dal simbolo * non possono essere omessi</span></td>
 </tr>
 <tr>
	<td valign="top">
	  <p class="western" style="background: #b3b3b3">
	  <font face="URW Bookman L, Times New Roman">
	  <font size="2" style="font-size: 9pt"><b>DATI AZIENDA:</b></font></font>
	  </p>
	</td>
 </tr>
</table><br>

<table width="800" border="1" bordercolor="#C0C0C0">
 <tr>
	<td valign="top">
	  <p class="western">
	  <font face="URW Bookman L, Times New Roman">
	  <font size="2" style="font-size: 9pt"><b>Intestazione contratto</b></font></font>
	  </p>
	</td>
 </tr>
</table>

<form method="post" name="form" action="/registrazione-business">
 <table width="800" class="racss_formtable">
	<tr>
	  <td class="racss_label">Ragione sociale:</td>

	  <td class="racss_field"><input type="text" id="ragione_sociale" name="ragione_sociale" value="%s">
	  <strong class="Stile3">*</strong></td>
	</tr>

	<tr>
	  <td class="racss_label">Rappresentante legale:</td>

	  <td class="racss_field"><input type="text" id="rappresentante_legale" name="rappresentante_legale" value="%s" onblur="compose_cn()">
	  <strong class="Stile3">*</strong></td>
	</tr>

	<tr>
	  <td class="racss_label">Indirizzo:</td>

	  <td class="racss_field"><input type="text" id="dati_utente_indirizzo" name="dati_utente_indirizzo" value="%s"> <strong class=
	  "Stile3">*</strong></td>
	</tr>

	<tr>
	  <td class="racss_label">Comune:</td>

	  <td class="racss_field"><input type="text" id="dati_utente_comune" name="dati_utente_comune" value="%s"> <strong class=
	  "Stile3">*</strong></td>
	</tr>

	<tr>
	  <td class="racss_label">Provincia:</td>

	  <td class="racss_field"><input type="text" id="dati_utente_provincia" name="dati_utente_provincia" value="%s"> <strong class=
	  "Stile3">*</strong></td>
	</tr>

	<tr>
	  <td class="racss_label">Cap:</td>

	  <td class="racss_field"><input type="text" id="dati_utente_cap" name="dati_utente_cap" value="%s"> <strong class="Stile3">*</strong></td>
	</tr>

	<tr>
	  <td class="racss_label">Codice Fiscale/Partita IVA:</td>

	  <td class="racss_field"><input type="text" id="dati_utente_cf" name="dati_utente_cf" value="%s"> <strong class="Stile3">*</strong></td>
	</tr>

	<tr>
	  <td class="racss_label">Telefono:</td>

	  <td class="racss_field"><input type="text" id="dati_utente_telefono_fisso" name="dati_utente_telefono_fisso" value="%s"> <strong class=
	  "Stile3">*</strong></td>
	</tr>

	<tr>
	  <td class="racss_label">Fax:</td>

	  <td class="racss_field"><input type="text" id="dati_utente_fax" name="dati_utente_fax" value="%s"></td>
	</tr>

	<tr>
	  <td class="racss_label">Cellulare:</td>

	  <td class="racss_field"><input type="text" id="dati_utente_telefono_cellulare" name="dati_utente_telefono_cellulare" value="%s"></td>
	</tr>
 </table><br>

 <table width="800" border="1" bordercolor="#C0C0C0">
	<tr>
	  <td valign="top">
		 <p class="western">
		 <font face="URW Bookman L, Times New Roman">
		 <font size="2" style="font-size: 9pt"><b>Richiesta di certificato CPE</b></font></font>
		 </p>
	  </td>
	</tr>
 </table>

 <table width="800" class="racss_formtable">
	<tr>
	  <td class="racss_label">CN (Common Name):</td>

	  <td class="racss_field"><input type="text" id="cn" name="cn" value="%s"> <strong class="Stile3">*</strong></td>
	</tr>

	<tr>
	  <td class="racss_label">Email (di un altro provider):</td>

	  <td class="racss_field"><input type="text" id="email_altro" name="email_altro" value="%s">
	  <strong class="Stile3">*</strong></td>
	</tr>
 </table><br>

 <table width="800" border="1" bordercolor="#C0C0C0">
	<tr>
	  <td valign="top">
		 <p class="western"><font face="URW Bookman L, Times New Roman"><font size="2" style="font-size: 9pt"><b>Installazione</b></font></font></p>
	  </td>
	</tr>
 </table>

 <table width="800" class="racss_formtable">
	<tr>
	  <td class="racss_label">Indirizzo:</td>

	  <td class="racss_field"><input type="text" id="installazione_indirizzo" name="installazione_indirizzo" value="%s" onfocus=
	  "if(this.value=='') this.value=dati_utente_indirizzo.value"> <strong class="Stile3">*</strong></td>
	</tr>

	<tr>
	  <td class="racss_label">Comune:</td>

	  <td class="racss_field"><input type="text" id="installazione_comune" name="installazione_comune" value="%s" onfocus=
	  "if(this.value=='') this.value=dati_utente_comune.value"> <strong class="Stile3">*</strong></td>
	</tr>

	<tr>
	  <td class="racss_label">Provincia:</td>

	  <td class="racss_field"><input type="text" id="installazione_provincia" name="installazione_provincia" value="%s" onfocus=
	  "if(this.value=='') this.value=dati_utente_provincia.value"> <strong class="Stile3">*</strong></td>
	</tr>

	<tr>
	  <td class="racss_label">Cap:</td>

	  <td class="racss_field"><input type="text" id="installazione_cap" name="installazione_cap" value="%s" onfocus=
	  "if(this.value=='') this.value=dati_utente_cap.value"> <strong class="Stile3">*</strong></td>
	</tr>
 </table><br>

 <table width="800" border="1" bordercolor="#C0C0C0">
	<tr>
	  <td valign="top">
		 <p class="western">
		 <font face="URW Bookman L, Times New Roman">
		 <font size="2" style="font-size: 9pt"><b>Spedizione Fattura</b></font></font>
		 </p>
	  </td>
	</tr>
 </table>

 <table width="800" class="racss_formtable">
	<tr>
	  <td class="racss_label">Destinazione:</td>

	  <td class="racss_field"><input type="text" id="spedizione_destinazione" name="spedizione_destinazione" value="%s" size="40" onfocus=
	  "if(this.value=='') compose_destinazione()"> <strong class="Stile3">*</strong></td>
	</tr>

	<tr>
	  <td class="racss_label">Indirizzo:</td>

	  <td class="racss_field"><input type="text" id="spedizione_indirizzo" name="spedizione_indirizzo" value="%s" size="40" onfocus=
	  "if(this.value=='') this.value=dati_utente_indirizzo.value"> <strong class="Stile3">*</strong></td>
	</tr>

	<tr>
	  <td class="racss_label">Comune:</td>

	  <td class="racss_field"><input type="text" id="spedizione_comune" name="spedizione_comune" value="%s" onfocus=
	  "if(this.value=='') this.value=dati_utente_comune.value"> <strong class="Stile3">*</strong></td>
	</tr>

	<tr>
	  <td class="racss_label">Provincia:</td>

	  <td class="racss_field"><input type="text" id="spedizione_provincia" name="spedizione_provincia" value="%s" onfocus=
	  "if(this.value=='') this.value=dati_utente_provincia.value"> <strong class="Stile3">*</strong></td>
	</tr>

	<tr>
	  <td class="racss_label">Cap:</td>

	  <td class="racss_field"><input type="text" id="spedizione_cap" name="spedizione_cap" value="%s" onfocus=
	  "if(this.value=='') this.value=dati_utente_cap.value"> <strong class="Stile3">*</strong></td>
	</tr>

	<tr>
	  <td class="racss_label">Email:</td>

	  <td class="racss_field"><input type="text" id="emailAddress" name="emailAddress" value="%s" size="40" onfocus=
	  "if(this.value=='') this.value=email_altro.value"> <strong class="Stile3">*</strong></td>
	</tr>
 </table><br>

 <table width="800" border="1" bordercolor="#C0C0C0">
	<tr>
	  <td valign="top">
		 <p class="western" style="background: #b3b3b3">
		 <font face="URW Bookman L, Times New Roman">
		 <font size="2" style="font-size: 9pt"><b>Opzioni di SLA:</b></font></font>
		 </p>
	  </td>
	</tr>
 </table><br>

 <table width="800" class="racss_formtable">
	<tr>
	  <td class="racss_label">Profilo:</td>

	  <td class="racss_field"><select name="contratto_profilo">
<!--#if expr=$CONTRATTO_PROFILO1 -->
			<option value="<!--#echo var=$CONTRATTO_PROFILO1 -->"><!--#echo var=$CONTRATTO_PROFILO1 --></option>
<!--#endif -->
<!--#if expr=$CONTRATTO_PROFILO2 -->
			<option value="<!--#echo var=$CONTRATTO_PROFILO2 -->"><!--#echo var=$CONTRATTO_PROFILO2 --></option>
<!--#endif -->
<!--#if expr=$CONTRATTO_PROFILO3 -->
			<option value="<!--#echo var=$CONTRATTO_PROFILO3 -->"><!--#echo var=$CONTRATTO_PROFILO3 --></option>
<!--#endif -->
<!--#if expr=$CONTRATTO_PROFILO4 -->
			<option value="<!--#echo var=$CONTRATTO_PROFILO4 -->"><!--#echo var=$CONTRATTO_PROFILO4 --></option>
<!--#endif -->
<!--#if expr=$CONTRATTO_PROFILO5 -->
			<option value="<!--#echo var=$CONTRATTO_PROFILO5 -->"><!--#echo var=$CONTRATTO_PROFILO5 --></option>
<!--#endif -->
<!--#if expr=$CONTRATTO_PROFILO6 -->
			<option value="<!--#echo var=$CONTRATTO_PROFILO6 -->"><!--#echo var=$CONTRATTO_PROFILO6 --></option>
<!--#endif -->
<!--#if expr=$CONTRATTO_PROFILO7 -->
			<option value="<!--#echo var=$CONTRATTO_PROFILO7 -->"><!--#echo var=$CONTRATTO_PROFILO7 --></option>
<!--#endif -->
<!--#if expr=$CONTRATTO_PROFILO8 -->
			<option value="<!--#echo var=$CONTRATTO_PROFILO8 -->"><!--#echo var=$CONTRATTO_PROFILO8 --></option>
<!--#endif -->
<!--#if expr=$CONTRATTO_PROFILO9 -->
			<option value="<!--#echo var=$CONTRATTO_PROFILO9 -->"><!--#echo var=$CONTRATTO_PROFILO9 --></option>
<!--#endif -->
<!--#if expr=$CONTRATTO_PROFILO10 -->
			<option value="<!--#echo var=$CONTRATTO_PROFILO10 -->"><!--#echo var=$CONTRATTO_PROFILO10 --></option>
<!--#endif -->
	  </select></td>
	</tr>

	<tr>
	  <td class="racss_label">Note:</td>

	  <td class="racss_field"><input size="80" type="text" name="contratto_note" value="%s"></td>
	</tr>
 </table><br>
 <input type="reset" value="Reset"> <input type="submit" name="submit" value="Visualizza contratto">
</form><script type="text/javascript">
var valComm = new LiveValidation( 'ragione_sociale', {onlyOnSubmit: true, validMessage: "OK" } );
valComm.add( Validate.Presence, {failureMessage: "Devi inserire la ragione sociale"} );
var valComm = new LiveValidation( 'rappresentante_legale', {onlyOnSubmit: true, validMessage: "OK" } );
valComm.add( Validate.Presence, {failureMessage: "Devi inserire il rappresentante legale"} );
var valComm = new LiveValidation( 'dati_utente_indirizzo', {onlyOnSubmit: true, validMessage: "OK" } );
valComm.add( Validate.Presence, {failureMessage: "Devi inserire l'indirizzo"} );
var valComm = new LiveValidation( 'dati_utente_comune', {onlyOnSubmit: true, validMessage: "OK" } );
valComm.add( Validate.Presence, {failureMessage: "Devi inserire il comune"} );
valComm.add( Validate.Format, {pattern: /^([A-Za-z '\-.]+)$/, failureMessage: "comune non valido"} );
var valComm = new LiveValidation( 'dati_utente_provincia', {onlyOnSubmit: true, validMessage: "OK" } );
valComm.add( Validate.Presence, {failureMessage: "Devi inserire la provincia"} );
valComm.add( Validate.Format, {pattern: /^([A-Za-z ]+)$/, failureMessage: "provincia non valida"} );
var valComm = new LiveValidation( 'dati_utente_cap', {onlyOnSubmit: true, validMessage: "OK" } );
valComm.add( Validate.Presence, {failureMessage: "Devi inserire il cap"} );
valComm.add( Validate.Numericality, {onlyInteger: true, notANumberMessage: "cap non valido"} );
var valComm = new LiveValidation( 'dati_utente_cf', {onlyOnSubmit: true, validMessage: "OK" } );
valComm.add( Validate.Presence, {failureMessage: "Devi inserire il codice fiscale/p.IVA"} );
var valComm = new LiveValidation( 'dati_utente_telefono_fisso', {onlyOnSubmit: true, validMessage: "OK" } );
valComm.add( Validate.Presence, {failureMessage: "Devi inserire il telefono fisso"} );
var valComm = new LiveValidation( 'cn', {onlyOnSubmit: true, validMessage: "OK" } );
valComm.add( Validate.Presence, {failureMessage: "Devi inserire il cn (Common Name)"} );
var valMail = new LiveValidation( 'email_altro', {onlyOnSubmit: true, validMessage: "OK" } );
valMail.add( Validate.Presence, {failureMessage: "Devi inserire l'e-mail"} );
valMail.add( Validate.Email, {failureMessage: "indirizzo e-mail non valido"} );
var valComm = new LiveValidation( 'installazione_indirizzo', {onlyOnSubmit: true, validMessage: "OK" } );
valComm.add( Validate.Presence, {failureMessage: "Devi inserire indirizzo installazione"} );
var valComm = new LiveValidation( 'installazione_comune', {onlyOnSubmit: true, validMessage: "OK" } );
valComm.add( Validate.Presence, {failureMessage: "Devi inserire comune installazione"} );
valComm.add( Validate.Format, {pattern: /^([A-Za-z '\-.]+)$/, failureMessage: "comune installazione non valido"} );
var valComm = new LiveValidation( 'installazione_provincia', {onlyOnSubmit: true, validMessage: "OK" } );
valComm.add( Validate.Presence, {failureMessage: "Devi inserire provincia installazione"} );
valComm.add( Validate.Format, {pattern: /^([A-Za-z ]+)$/, failureMessage: "provincia installazione non valida"} );
var valComm = new LiveValidation( 'installazione_cap', {onlyOnSubmit: true, validMessage: "OK" } );
valComm.add( Validate.Presence, {failureMessage: "Devi inserire il cap installazione"} );
valComm.add( Validate.Numericality, {onlyInteger: true, notANumberMessage: "cap installazione non valido"} );
var valComm = new LiveValidation( 'spedizione_destinazione', {onlyOnSubmit: true, validMessage: "OK" } );
valComm.add( Validate.Presence, {failureMessage: "Devi inserire destinazione"} );
var valComm = new LiveValidation( 'spedizione_indirizzo', {onlyOnSubmit: true, validMessage: "OK" } );
valComm.add( Validate.Presence, {failureMessage: "Devi inserire indirizzo spedizione"} );
var valComm = new LiveValidation( 'spedizione_comune', {onlyOnSubmit: true, validMessage: "OK" } );
valComm.add( Validate.Presence, {failureMessage: "Devi inserire comune spedizione"} );
valComm.add( Validate.Format, {pattern: /^([A-Za-z '\-.]+)$/, failureMessage: "comune spedizione non valido"} );
var valComm = new LiveValidation( 'spedizione_provincia', {onlyOnSubmit: true, validMessage: "OK" } );
valComm.add( Validate.Presence, {failureMessage: "Devi inserire provincia spedizione"} );
valComm.add( Validate.Format, {pattern: /^([A-Za-z ]+)$/, failureMessage: "provincia spedizione non valida"} );
var valComm = new LiveValidation( 'spedizione_cap', {onlyOnSubmit: true, validMessage: "OK" } );
valComm.add( Validate.Presence, {failureMessage: "Devi inserire il cap spedizione"} );
valComm.add( Validate.Numericality, {onlyInteger: true, notANumberMessage: "cap spedizione non valido"} );
var valMail = new LiveValidation( 'emailAddress', {onlyOnSubmit: true, validMessage: "OK" } );
valMail.add( Validate.Presence, {failureMessage: "Devi inserire l'e-mail"} );
valMail.add( Validate.Email, {failureMessage: "indirizzo e-mail non valido"} );

var automaticOnSubmit = valMail.form.onsubmit;
valMail.form.onsubmit = function() {
	  var valid = automaticOnSubmit();
	  if (valid) return true; 
	  return false;
}
</script>
