<div class="rid">
  <table cellspacing="0" id="Table57Ctable" style=
  "margin-top:0;margin-bottom:0;margin-left:18.4032px;margin-right:334.3968px;width:512.0px;border-collapse:separate;border-spacing:0;table-layout:fixed">
  <tbody>
      <tr>
        <td style="border:none;padding:3.6671999px;vertical-align:top;width:80.66881px">
          <p class="TableContents" style="font-size:6.666667px">DATA&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;............................................</p>
        </td>

        <td style="border:none;padding:3.6671999px;vertical-align:top;width:216.66241px">
          <p class="TableContents" style="font-size:6.666667px">
          LOCALITA'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;............................................................................</p>
        </td>
      </tr>
    </tbody>
  </table>

  <p class="Standard">&nbsp;</p>

  <table cellspacing="0" id="Table47Ctable" style=
  "margin-top:0;margin-bottom:0;margin-left:18.4032px;margin-right:18.4032px;width:628.0032px;border-collapse:separate;border-spacing:0;table-layout:fixed">
  <col style="width:121.996796px" />
    <col style="width:139.9968px" />
    <col style="width:102.998405px" />
    <col style="width:154.0032px" />
    <col style="width:108.998405px" />

    <tbody>
      <tr>
        <td colspan="2" style="border:1.0px solid #000000;padding:3.6671999px;vertical-align:top">
          <p class="TableContents" style="text-align:center;font-size:6.666667px">DENOMINAZIONE O RAGIONE SOCIALE E INDIRIZZO DELL'AZIENDA
          CREDITRICE</p>
        </td>

        <td rowspan="5" style="border:none;padding:3.6671999px;vertical-align:top;width:95.66401px">
          <p style="margin:0;font-size:6px"></p>
        </td>

        <td colspan="2" style="border:1.0px solid #000000;padding:3.6671999px;vertical-align:top">
          <p class="TableContents" style="text-align:center;font-size:6.666667px">ALLA BANCA</p>
        </td>
      </tr>

      <tr>
        <td colspan="2" rowspan="3" style=
        "border-top:none;border-bottom:1.0px solid #000000;border-left:1.0px solid #000000;border-right:1.0px solid #000000;padding:3.6671999px;vertical-align:top">
        <p style="margin:0;font-size:9px;font-weight:bold">T-Services srl</p>

          <p style="margin:0;font-size:9px;font-weight:bold">Via Volturno,12</p>

          <p style="margin:0;font-size:9px;font-weight:bold">50019 Sesto Fiorentino (FI)</p>
        </td>

        <td colspan="2" style=
        "border-top:none;border-bottom:1.0px solid #000000;border-left:1.0px solid #000000;border-right:1.0px solid #000000;padding:3.6671999px;vertical-align:top">
        <p style="margin:0;font-size:9px">&nbsp;</p>

          <p style="margin:0;font-size:9px">&nbsp;</p>
        </td>
      </tr>

      <tr>
        <td style=
        "border-top:none;border-bottom:1.0px solid #000000;border-left:1.0px solid #000000;border-right:none;padding:3.6671999px;vertical-align:top;width:145.66881px">
        <p class="TableContents" style="font-size:6.666667px">FILIALE DI</p>
        </td>

        <td style=
        "border-top:none;border-bottom:1.0px solid #000000;border-left:1.0px solid #000000;border-right:1.0px solid #000000;padding:3.6671999px;vertical-align:top;width:99.66401px">
        <p class="Standard" style="font-size:6.666667px">AGENZIA N.</p>
        </td>
      </tr>

      <tr>
        <td colspan="2" rowspan="2" style=
        "border-top:none;border-bottom:1.0px solid #000000;border-left:1.0px solid #000000;border-right:1.0px solid #000000;padding:3.6671999px;vertical-align:top">
        <p class="TableContents" style="font-size:6.666667px">INDIRIZZO</p>
        </td>
      </tr>

      <tr>
        <td style=
        "border-top:none;border-bottom:1.0px solid #000000;border-left:1.0px solid #000000;border-right:none;padding:3.6671999px;vertical-align:top;width:113.6624px">
        <p class="TableContents" style="font-size:9px;font-weight:bold">Tel. 055340773</p>
        </td>

        <td style=
        "border-top:none;border-bottom:1.0px solid #000000;border-left:1.0px solid #000000;border-right:1.0px solid #000000;padding:3.6671999px;vertical-align:top;width:130.6624px">
        <p class="TableContents" style="font-size:9px;font-weight:bold">Fax 055318525</p>
        </td>
      </tr>
    </tbody>
  </table>

  <p class="Standard" style="font-size:6.666667px">&nbsp;</p>

  <p class="Standard" style="font-size:6.666667px">&nbsp;</p>

  <p class="Standard" style="text-align:left;font-weight:bold;font-size:13.333334px">&nbsp;&nbsp;&nbsp;&nbsp;R.I.D. AUTORIZZAZIONE PERMANENTE DI
  ADDEBITO IN CONTO PER RICHIESTE DI INCASSO</p>

  <p class="Standard" style="font-size:6.666667px">&nbsp;</p>

  <p class="Standard" style="font-size:6.666667px">&nbsp;</p>

  <table cellspacing="0" id="Table37Ctable" style=
  "margin-top:0;margin-bottom:0;margin-left:18.4032px;margin-right:415.80478px;width:265.60161px;border-collapse:separate;border-spacing:0;table-layout:fixed">
  <tbody>
      <tr>
        <td style="border:1.0px solid #000000;padding:3.6671999px;vertical-align:top;width:221.26721px">
          <p class="Standard" style="font-size:6.666667px">&nbsp;MOTIVO INCASSO</p>
        </td>
      </tr>

      <tr>
        <td style=
        "border-top:none;border-bottom:1.0px solid #000000;border-left:1.0px solid #000000;border-right:1.0px solid #000000;padding:3.6671999px;vertical-align:top;width:221.26721px">
        <p style="margin:0;font-size:9px;font-weight:bold">CANONE %s</p>
        </td>
      </tr>

      <tr>
        <td style=
        "border-top:none;border-bottom:1.0px solid #000000;border-left:1.0px solid #000000;border-right:1.0px solid #000000;padding:3.6671999px;vertical-align:top;width:221.26721px">
        <p style="margin:0;font-size:9px">&nbsp;</p>
        </td>
      </tr>

      <tr>
        <td style=
        "border-top:none;border-bottom:1.0px solid #000000;border-left:1.0px solid #000000;border-right:1.0px solid #000000;padding:3.6671999px;vertical-align:top;width:221.26721px">
        <p style="margin:0;font-size:9px">&nbsp;</p>
        </td>
      </tr>
    </tbody>
  </table>

  <p class="Standard" style="font-size:16.0px"></p>

  <p class="Standard" style="font-size:6.666667px">&nbsp;</p>

  <p class="Standard" style="font-size:6.666667px">&nbsp;</p>

  <p class="Standard" style="font-size:6.666667px">&nbsp;</p>

  <p class="Standard" style="margin-left:0;margin-right:0;text-indent:0"></p>

  <table cellspacing="0" id="Table17Ctable" style=
  "margin-top:0;margin-bottom:0;margin-left:19.2px;margin-right:19.603199px;width:625.9968px;border-collapse:separate;border-spacing:0;table-layout:fixed">
  <col style="width:53.001602px" />
    <col style="width:12.9984px" />
    <col style="width:129.00479px" />
    <col style="width:97.996796px" />
    <col style="width:19.9968px" />
    <col style="width:49.9968px" />
    <col style="width:54.998398px" />
    <col style="width:208.00319px" />

    <tbody>
      <tr>
        <td colspan="3" style=
        "border-top:1.0px solid #000000;border-bottom:1.0px solid #000000;border-left:1.0px solid #000000;border-right:none;padding:3.6671999px;vertical-align:top">
        <p class="TableContents" style="text-align:center;font-size:6.666667px">(Riservato all'Azienda Creditrice)</p>
        </td>

        <td style=
        "border-top:none;border-bottom:none;border-left:1.0px solid #000000;border-right:none;padding:3.6671999px;background-color:transparent;vertical-align:top;width:89.6624px">
        <p style="margin:0;font-size:1px">&nbsp;</p>
        </td>

        <td colspan="4" style="border:1.0px solid #000000;padding:3.6671999px;background-color:transparent;vertical-align:top">
          <p class="TableContents" style="text-align:center;font-size:6.666667px">(Riservato alla Banca)</p>
        </td>
      </tr>

      <tr>
        <td style=
        "border-top:none;border-bottom:1.0px solid #000000;border-left:1.0px solid #000000;border-right:none;padding:3.6671999px;vertical-align:top;width:44.667202px">
        <p class="TableContents" style="font-size:6.666667px">AZIENDA CREDITRICE</p>
        </td>

        <td style=
        "border-top:none;border-bottom:1.0px solid #000000;border-left:1.0px solid #000000;border-right:none;padding:3.6671999px;vertical-align:top;width:4.6640005px">
        <p class="TableContents" style="font-size:8.0px">*</p>
        </td>

        <td style=
        "border-top:none;border-bottom:1.0px solid #000000;border-left:1.0px solid #000000;border-right:1.0px solid #000000;padding:3.6671999px;background-color:transparent;vertical-align:top;width:119.670395px">
        <p class="TableContents" style="font-size:6.666667px">CODICE DEL DEBITORE ASSEGNATO DALL'AZIENDA CREDITRICE</p>
        </td>

        <td style="border:none;padding:3.6671999px;background-color:transparent;vertical-align:top;width:90.6624px">
          <p style="margin:0;font-size:9px">&nbsp;</p>
        </td>

        <td style=
        "border-top:none;border-bottom:1.0px solid #000000;border-left:1.0px solid #000000;border-right:none;padding:3.6671999px;background-color:transparent;vertical-align:top;width:11.6624px">
        <p class="TableContents" style="font-size:6.666667px">CIN</p>
        </td>

        <td style=
        "border-top:none;border-bottom:1.0px solid #000000;border-left:1.0px solid #000000;border-right:none;padding:3.6671999px;background-color:transparent;vertical-align:top;width:41.6624px">
        <p class="TableContents" style="font-size:6.666667px">BANCA</p>
        </td>

        <td style=
        "border-top:none;border-bottom:1.0px solid #000000;border-left:1.0px solid #000000;border-right:none;padding:3.6671999px;background-color:transparent;vertical-align:top;width:46.663998px">
        <p class="TableContents" style="font-size:6.666667px">SPORTELLO</p>
        </td>

        <td style=
        "border-top:none;border-bottom:1.0px solid #000000;border-left:1.0px solid #000000;border-right:1.0px solid #000000;padding:3.6671999px;background-color:transparent;vertical-align:top;width:198.6688px">
        <p class="TableContents" style="font-size:6.666667px">CONTO</p>
        </td>
      </tr>

      <tr>
        <td style=
        "border-top:none;border-bottom:1.0px solid #000000;border-left:1.0px solid #000000;border-right:none;padding:3.6671999px;vertical-align:top;width:44.667202px">
        <p style="margin:0;font-size:9px;font-weight:bold">&nbsp;AZEW6</p>
        </td>

        <td style=
        "border-top:none;border-bottom:1.0px solid #000000;border-left:1.0px solid #000000;border-right:none;padding:3.6671999px;vertical-align:top;width:4.6640005px">
        <p style="margin:0;font-size:9px;font-weight:bold">1</p>
        </td>

        <td style=
        "border-top:none;border-bottom:1.0px solid #000000;border-left:1.0px solid #000000;border-right:1.0px solid #000000;padding:3.6671999px;vertical-align:top;width:119.670395px">
        <p style="margin:0;font-size:9px;font-weight:bold">%s</p>
        </td>

        <td style="border:none;padding:3.6671999px;vertical-align:top;width:90.6624px">
          <p style="margin:0;font-size:1px">&nbsp;</p>
        </td>

        <td style=
        "border-top:none;border-bottom:1.0px solid #000000;border-left:1.0px solid #000000;border-right:none;padding:3.6671999px;vertical-align:top;width:11.6624px">
        <p style="margin:0;font-size:1px">&nbsp;</p>
        </td>

        <td style=
        "border-top:none;border-bottom:1.0px solid #000000;border-left:1.0px solid #000000;border-right:none;padding:3.6671999px;vertical-align:top;width:41.6624px">
        <p style="margin:0;font-size:1px">&nbsp;</p>
        </td>

        <td style=
        "border-top:none;border-bottom:1.0px solid #000000;border-left:1.0px solid #000000;border-right:none;padding:3.6671999px;vertical-align:top;width:46.663998px">
        <p style="margin:0;font-size:1px">&nbsp;</p>
        </td>

        <td style=
        "border-top:none;border-bottom:1.0px solid #000000;border-left:1.0px solid #000000;border-right:1.0px solid #000000;padding:3.6671999px;vertical-align:top;width:198.6688px">
        <p style="margin:0;font-size:1px">&nbsp;</p>
        </td>
      </tr>
    </tbody>
  </table>

  <p class="Standard" style="font-size:6.666667px">&nbsp;</p>

  <p class="Standard" style="font-size:6.666667px">&nbsp;</p><!-- INIZIO  -->

  <table cellspacing="0" id="Table67Ctable" style=
  "margin-top:0;margin-bottom:0;margin-left:18.4032px;margin-right:18.4032px;width:628.0032px;border-collapse:separate;border-spacing:0;table-layout:fixed">
  <col style="width:131.00159px" />
    <col style="width:131.00159px" />
    <col style="width:102.998405px" />
    <col style="width:131.52962px" />
    <col style="width:131.52962px" />

    <tbody>
      <tr>
        <td colspan="2" style="border:1.0px solid #000000;padding:3.6671999px;vertical-align:top">
          <p class="TableContents" style="text-align:center;font-size:6.666667px">INTESTAZIONE E INDIRIZZO DEL DOCUM./RAPP. DI DEBITO (1) (2)</p>
        </td>

        <td rowspan="2" style="border:none;padding:3.6671999px;vertical-align:top;width:95.66401px">
          <p style="margin:0;font-size:1px">&nbsp;</p>
        </td>

        <td colspan="2" style="border:1.0px solid #000000;padding:3.6671999px;vertical-align:top">
          <p class="TableContents" style="text-align:center;font-size:6.666667px">INTESTAZIONE E INDIRIZZO DEL CONTO DA ADDEBITARE (1)</p>
        </td>
      </tr>

      <tr>
        <td colspan="2" rowspan="3" style=
        "border-top:none;border-bottom:none;border-left:1.0px solid #000000;border-right:1.0px solid #000000;padding:3.6671999px;vertical-align:top">
          <p class="TableContents" style="font-size:9px">&nbsp;</p>

          <p class="TableContents" style="font-size:9px">&nbsp;</p>

          <p class="TableContents" style="font-size:9px">&nbsp;</p>
        </td>

        <td colspan="2" rowspan="3" style=
        "border-top:none;border-bottom:none;border-left:1.0px solid #000000;border-right:1.0px solid #000000;padding:3.6671999px;vertical-align:top">
          <p style="margin:0;font-size:1px">&nbsp;</p>
        </td>
      </tr>

      <tr>
        <td style="border:none;padding:3.6671999px;vertical-align:top;width:95.66401px">
          <p style="margin:0;font-size:1px">&nbsp;</p>
        </td>
      </tr>

      <tr>
        <td style="border:none;padding:3.6671999px;vertical-align:top;width:95.66401px">
          <p style="margin:0;font-size:1px">&nbsp;</p>
        </td>
      </tr>

      <tr>
        <td style=
        "border-top:none;border-bottom:1.0px solid #000000;border-left:1.0px solid #000000;border-right:1.0px solid #000000;padding:3.6671999px;vertical-align:top;width:121.66719px">
        <p class="TableContents" style="font-size:6.666667px">CAP</p>
        </td>

        <td style=
        "border-top:none;border-bottom:none;border-left:none;border-right:1.0px solid #000000;padding:3.6671999px;vertical-align:top;width:122.66719px">
        <p style="margin:0;font-size:1px">&nbsp;</p>
        </td>

        <td style="border:none;padding:3.6671999px;vertical-align:top;width:95.66401px">
          <p style="margin:0;font-size:1px">&nbsp;</p>
        </td>

        <td style=
        "border-top:none;border-bottom:1.0px solid #000000;border-left:1.0px solid #000000;border-right:1.0px solid #000000;padding:3.6671999px;vertical-align:top;width:122.19522px">
        <p class="TableContents" style="font-size:6.666667px">CAP</p>
        </td>

        <td style=
        "border-top:none;border-bottom:none;border-left:none;border-right:1.0px solid #000000;padding:3.6671999px;vertical-align:top;width:123.19522px">
        <p style="margin:0;font-size:1px">&nbsp;</p>
        </td>
      </tr>

      <tr>
        <td colspan="2" style=
        "border-top:none;border-bottom:none;border-left:1.0px solid #000000;border-right:1.0px solid #000000;padding:3.6671999px;vertical-align:top">
          <p class="TableContents" style="text-align:center;font-size:6.666667px">DATI IDENTIFICATIVI &nbsp;DEL DOCUMENTO/RAPPORTO DI DEBITO</p>
        </td>

        <td style="border:none;padding:3.6671999px;vertical-align:top;width:95.66401px">
          <p style="margin:0;font-size:9px">&nbsp;</p>
        </td>

        <td colspan="2" style=
        "border-top:none;border-bottom:none;border-left:1.0px solid #000000;border-right:1.0px solid #000000;padding:3.6671999px;vertical-align:top">
          <p class="TableContents" style="text-align:center;font-size:6.666667px">DATI IDENTIFICATIVI DEL CONTO</p>
        </td>
      </tr>

      <tr>
        <td colspan="2" style=
        "border-top:none;border-bottom:1.0px solid #000000;border-left:1.0px solid #000000;border-right:1.0px solid #000000;padding:3.6671999px;vertical-align:top">
        <p style="margin:0;font-size:9px">&nbsp;</p>
        </td>

        <td style="border:none;padding:3.6671999px;vertical-align:top;width:95.66401px">
          <p style="margin:0;font-size:1px">&nbsp;</p>
        </td>

        <td colspan="2" style=
        "border-top:none;border-bottom:1.0px solid #000000;border-left:1.0px solid #000000;border-right:1.0px solid #000000;padding:3.6671999px;vertical-align:top">
        <p style="margin:0;font-size:1px">&nbsp;</p>
        </td>
      </tr>
    </tbody>
  </table><!-- FINE  -->

  <p class="Standard" style="font-size:6.666667px">&nbsp;</p>

  <p class="Standard" style="font-size:6.666667px">&nbsp;</p>

  <p class="Standard" style="font-size:6.666667px">&nbsp;</p>

  <table cellspacing="0" id="Table27Ctable" style=
  "margin-top:0;margin-bottom:0;margin-left:0;margin-right:-1.0px;width:665.0016px;border-collapse:separate;border-spacing:0;table-layout:fixed">
    <tbody>
      <tr>
        <td style=
        "border-top:1.0px solid #000000;border-bottom:1.0px solid #000000;border-left:1.0px solid #000000;border-right:none;padding:3.6671999px;vertical-align:top;width:8.667201px">
        <p class="TableContents" style="font-size:8.0px"></p>

          <p class="TableContents" style="font-size:8.0px"></p>

          <p class="TableContents" style="font-size:8.0px"></p>

          <p class="TableContents" style="font-size:8.0px"></p>

          <p class="TableContents" style="font-size:8.0px">A</p>

          <p class="TableContents" style="font-size:8.0px">D</p>

          <p class="TableContents" style="font-size:8.0px">E</p>

          <p class="TableContents" style="font-size:8.0px">S</p>

          <p class="TableContents" style="font-size:8.0px">I</p>

          <p class="TableContents" style="font-size:8.0px">O</p>

          <p class="TableContents" style="font-size:8.0px">N</p>

          <p class="TableContents" style="font-size:8.0px">E</p>

          <p class="TableContents" style="font-size:8.0px"></p>

          <p class="TableContents" style="font-size:8.0px"></p>

          <p class="TableContents" style="font-size:8.0px"></p>

          <p class="TableContents" style="font-size:8.0px"></p>

          <p class="TableContents" style="font-size:8.0px"></p>

          <p class="TableContents" style="font-size:8.0px"></p>
        </td>

        <td style="border:1.0px solid #000000;padding:3.6671999px;vertical-align:top;width:638.6656px">
          <p class="TableContents" style="font-size:9.333334px">...sottoscritt... autorizza... la Banca a margine a provvedere alla estinzione dei
          documenti di debito (fatture, ricevute, bollette, ecc.) emessi dall'Azienda creditrice sopra citata, addebitando il conto sopraindicato ed
          applicando le condizioni indicate nel foglio informativo analitico posto a disposizione del correntista e le norme a tergo previste per il
          servizio senza necessita', per la Banca, di inviare la relativa contabile di addebito. Dichiara.... di essere a conoscenza che la Banca
          assume l'incarico dell'estinzione dei citati documenti che l'<strong>Azienda creditrice inviera' direttamente al debitore</strong>, prima
          della scadenza dell'obbligazione, a condizione che, al momento del pagamento, il conto sia in essere ed assicuri disponibilita' sufficienti
          e che non sussistano ragioni che ne impediscano l'utilizzazione. In caso contrario la Banca restera' esonerata da ogni e qualsiasi
          responsabilita' inerente al mancato pagamento ed il pagamento stesso dovra' essere effettuato alla Azienda creditrice direttamente a cura
          del debitore.</p>

          <p class="TableContents" style="font-size:9.333334px"></p>

          <p class="TableContents" style="font-size:9.333334px">&nbsp;&nbsp;&nbsp;&nbsp;Prend... altresi' atto che la Banca si riserva il diritto di
          recedere in ogni momento dal presente accordo.</p>

          <p class="TableContents" style="font-size:9.333334px"></p>

          <p class="TableContents" style="font-size:9.333334px">&nbsp;&nbsp;&nbsp;&nbsp;Prend... pure atto che ove intenda... eccezionalmente
          sospendere l'estinzione di un documento di debito, dovra'... dare immediato avviso alla Banca in tal senso entro la data di scadenza.</p>

          <p class="TableContents" style="font-size:9.333334px">&nbsp;&nbsp;&nbsp;&nbsp;Per quanto non espressamente richiamato, si applicano le
          "Norme che regolano i conti correnti di corrispondenza e servizi connessi".</p>

          <p class="TableContents" style="font-size:9.333334px">&nbsp;</p>

          <p class="TableContents" style="font-size:9.333334px">&nbsp;</p>

          <p class="TableContents" style="font-size:9.333334px">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.............................................................................</p>

          <p class="TableContents" style="font-size:9.333334px">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          (sottoscrizione del... correntist...)</p>

          <p class="TableContents" style="font-size:9.333334px">&nbsp;</p>

          <p class="TableContents" style="font-size:9.333334px">&nbsp;</p>

          <p class="TableContents" style="font-size:9.333334px">&nbsp;&nbsp;&nbsp;&nbsp;In deroga al terzo comma si conviene che ....sottoscritt...
          puo'/possono riservarsi il diritto di chiedere alla Banca lo storno dell'addebito entro 5 giorni lavorativi dalla scadenza
          dell'obbligazione.</p>

          <p class="TableContents" style="font-size:9.333334px">&nbsp;</p>

          <p class="TableContents" style="font-size:9.333334px">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.............................................................................</p>

          <p class="TableContents" style="font-size:9.333334px">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          (sottoscrizione del... correntist...)</p>

          <p class="TableContents" style="font-size:9.333334px"></p>
        </td>
      </tr>

      <tr>
        <td style=
        "border-top:none;border-bottom:1.0px solid #000000;border-left:1.0px solid #000000;border-right:none;padding:3.6671999px;vertical-align:top;width:8.667201px">
        <p class="TableContents" style="font-size:8.0px"></p>

          <p class="TableContents" style="font-size:8.0px"></p>

          <p class="TableContents" style="font-size:8.0px"></p>

          <p class="TableContents" style="font-size:8.0px">R</p>

          <p class="TableContents" style="font-size:8.0px">E</p>

          <p class="TableContents" style="font-size:8.0px">V</p>

          <p class="TableContents" style="font-size:8.0px">O</p>

          <p class="TableContents" style="font-size:8.0px">C</p>

          <p class="TableContents" style="font-size:8.0px">A</p>
        </td>

        <td style=
        "border-top:none;border-bottom:1.0px solid #000000;border-left:1.0px solid #000000;border-right:1.0px solid #000000;padding:3.6671999px;vertical-align:top;width:638.6656px">
        <p class="TableContents" style="font-size:9.333334px">&nbsp;&nbsp;&nbsp;....sottoscritt.... revoca.... l'autorizzazione permanente di
        addebito sul conto in oggetto, aperto presso di Voi, dei documenti di debito emessi dall'Azienda creditrice sopra citata.</p>

          <p class="TableContents" style="font-size:9.333334px">&nbsp;</p>

          <p class="TableContents" style="font-size:9.333334px">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.............................................................................</p>

          <p class="TableContents" style="font-size:9.333334px">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          (sottoscrizione del... correntist...)</p>
        </td>
      </tr>
    </tbody>
  </table>

  <p class="TableContents" style="font-size:9.333334px">&nbsp;</p>

  <p class="TableContents" style="font-size:9.333334px">&nbsp;</p>

  <p class="TableContents" style="font-size:9.333334px">&nbsp;</p>

  <p class="TableContents" style="font-size:9.333334px">&nbsp;</p>

  <p class="TableContents" style="font-size:9.333334px">(*) Valori ammessi 1=utenza, 2=matricola, 3=codice fiscale, 4=codice cliente, 5=codice
  fornitore, 6=portafoglio commerciale, 9=altri</p>

  <p class="TableContents" style="font-size:9.333334px">(1) Se non gia' precompilato, questo campo va compilato a cura del cliente-debitore</p>

  <p class="TableContents" style="font-size:9.333334px">(2) Se trattasi di "UTENZA" deve essere indicato l'indirizzo della stessa, in particolare se
  diverso dal domicilio del relativo intestatario</p>
</div>
<br />
%s
