html {
  margin: 0em 0em; padding: 0em 0em;
  background: #ffffff none;
}
body {
  margin: 0em 0em; padding: 0em 0em;
  color: #111111;
}
div.estform {
  margin: 0.8em 1.0em; padding: 0em 1.0em;
  background: #eeeeff none; border: solid 1pt #bbbbcc;
  -moz-border-radius: 0.4em;
}
div.form_navi {
  position: absolute; top: 1.5em; right: 2em;
  margin: 0em 0em; padding: 0em 0em; text-align: right;
  font-size: smaller;
}
div.form_navi a,div.form_navi span {
  display: block; margin: -0.1em 0em; padding: 0em 0em;
}
a.navilink {
  color: #5588cc; text-decoration: none;
}
a.navilink:hover {
  color: #4499ee; text-decoration: underline;
}
span.navivoid {
  color: #99aaaa;
}
div.form_advanced {
  margin: 0.4em 0em; padding: 0em 0em;
}
th.ilabel {
  padding-right: 0.3em; text-align: right;
  font-weight: normal; font-size: smaller;
}
td.ivalue input.submit {
  width: 12em;
}
td.ivalue input.reset {
  width: 5em;
}
div.form_basic {
  margin: 0.4em 0em 0em 0em; padding: 0em 0em;
  font-size: smaller;
}
input.submit:hover,select:hover {
  cursor: pointer;
}
div.form_extension,div.form_genrecheck {
  margin: 0.3em 0em 0.3em 0em; padding: 0em 0em;
  font-size: smaller;
}
label.genrecheck {
  margin-right: 0.5em;
}
span.inputunit {
  margin: 0em 0.3em;
}
input.button {
  margin: 0.1em 0.1em; padding: 0em 0.5em;
  background: #dddddd none; border: solid 1pt #cccccc;
  -moz-border-radius: 0.3em;
  color: #888888;
}
input.button:hover {
  cursor: pointer;
}
input.abutton {
  background: #ccccdd none; border: inset 1pt #bbbbbb;
  color: #222222;
}
input.wbutton {
  width: 7.5em;
}
input.mbutton {
  width: 6.0em;
}
input.nbutton {
  width: 4.5em;
}
div.estresult {
  margin: 1.0em 1.0em; padding: 0em 0em;
}
div.resinfo {
  margin-right: 0.3em; text-align: right;
  font-size: smaller;
}
div.hints {
  margin-right: 0.8em; text-align: right;
  font-size: smaller; color: #555555;
}
div.relkeys {
  margin-right: 0.3em; text-align: right;
  font-size: smaller; color: #555555;
  opacity: 0.70;
}
div.relkeys a {
  color: #007777; text-decoration: none;
}
div.relkeys a:hover {
  color: #0066dd; text-decoration: underline;
}
dl.doc {
  margin: 1.3em 0em;
}
dl.doc dd {
  font-size: smaller; color: #222222;
}
a.doc_title {
  color: #0011ee; text-decoration: underline;
}
a.doc_title:hover {
  color: #0033ff; text-decoration: underline;
}
span.doc_score {
  font-size: smaller; color: #555555;
}
span.doc_score:before {
  content: "(";
}
span.doc_score:after {
  content: ")";
}
span.doc_link {
  color: #007744;
}
dd.doc_attr {
  margin: 0em 0.8em;
}
span.doc_val {
  color: #111111;
}
dd.doc_text {
  margin: 0em 1.3em;
}
strong.key {
  margin: 0em -0.1em; padding: 0em 0.1em;
  color: #000011;
  -moz-border-radius: 0.3em;
}
strong.key1 { background-color: #ffffcc; }
strong.key2 { background-color: #ffeeee; }
strong.key3 { background-color: #eeeeff; }
strong.key4 { background-color: #eeffdd; }
code.delim { color: #555555; letter-spacing: -0.1em; }
dd.doc_navi {
  margin: 0em 1.1em;
}
div.doc_clip {
  margin-left: 2.5em; margin-top: -0.6em;
}
div.doc_clip p {
  font-size: smaller; color: #444444;
}
a.display,a.detail,a.similar,a.dir,a.include {
  color: #007777; text-decoration: none;
}
a.display:hover,a.detail:hover,a.similar:hover,a.dir:hover,a.include:hover {
  color: #0066dd; text-decoration: underline;
}
p.note {
  margin: 3em 1.5em;
  color: #444444;
}
div.paging {
  margin: 2em 1em; text-align: right;
  font-size: smaller;
}
a.navi {
  margin: 0em 0.2em; padding: 0em 0.5em;
  background: #eeeeff none; border: solid 1pt #bbbbcc;
  -moz-border-radius: 0.25em;
  color: #0022aa; text-decoration: none;
}
span.void {
  margin: 0em 0.2em; padding: 0em 0.5em;
  background: #eeeeee none; border: solid 1pt #bbbbcc;
  -moz-border-radius: 0.25em;
  color: #aaaaaa;
  opacity: 0.70;
}
a.pnum {
  margin: 0em 0em; padding: 0em 0.2em;
  background: #eeeeff none; border: solid 1pt #bbbbcc;
  -moz-border-radius: 0.25em;
  font-size: smaller; color: #0022aa; text-decoration: none;
}
span.pnow {
  margin: 0em 0em; padding: 0em 0.2em;
  background: #ffeedd none; border: solid 1pt #bbbbcc;
  -moz-border-radius: 0.25em;
}
div.estinfo {
  margin: 1.5em 1.0em; padding: 0em 0em; text-align: right;
  font-size: smaller; color: #555555;
  opacity: 0.80;
}
div.estinfo a {
  color: #555555; text-decoration: none;
}
div.logo {
  margin: 15.0em 1em; text-align: center;
}
div.logo h1 {
  color: #000000;
}
div.logo div.caption {
  margin-top: -0.9em;
  color: #222222;
}
div.help {
  margin: 2em 4em; padding: 2em 2em;
  background-color: #eeeeff; border: 2pt solid #ddddee;
  -moz-border-radius: 0.8em;
}
div.help h1 {
  margin: -1em 0em; padding: 0em 0em; text-align: right;
  font-weight: normal; font-size: smaller;
}
div.help h2 {
  margin-top: 1.2em;
}
div.help p {
  line-height: 145%; text-indent: 0.8em;
}
div.help pre {
  margin: 0em 2em; padding: 0em 0.2em;
  background-color: #ffffff; border: 1pt solid #999999;
  -moz-border-radius: 0.2em;
}
