  <div id="containerBig">
    <div id="wrapperAuto">
      <div id="loginbox" style="width:100%%;height:100%%;padding:0px;margin:0px;">
        <div id="menulogo" class="menurow">
				<img src="images/logo_fiwifi-n.png" />
		  </div>

        <center><h1>Sei già loggato!</h1></center>
		  <br />
		  <br />
        <div style="clear: both;"></div>
        <div id="footer"></div>
      </div>
      <div style="clear: both;"></div>
    </div>
  </div>
