  <div id="topBanner">
	 <script language='JavaScript' type='text/javascript'>wimoveGetBanner('%v','%v');</script>
	 <noscript></noscript>
  </div>

  <div id="distance"></div>

  <div id="container">
    <div id="wrapper">
      <div id="menubox" style="width:100%%;height:100%%;padding:0px;margin:0px;">

        <div id="menulogo" class="menurow">
			 <img src="images/logo_fiwifi-n.png">
		  </div>

        <div id="menufirst" class="menurow">
			 <button id="toprightbox" onclick="window.location.href='%v'"><img src="images/btn_free-n.png"></button>
        </div>

        <div id="menusecond" class="menurow">
          <button id="bottomleftbox"  onclick="window.location.href='%v'"><img src="images/btn_help-n.png"></button>
			 <button id="bottomrightbox" onclick="window.location.href='%v'"><img src="images/btn_ficard-n.png"></button>
        </div>

        <div id="menureserved" class="menurow">
			 <button id="bottomreserved" onclick="window.location.href='%v'"><img src="images/btn_reserved.png"/></button>
		  </div>

      </div>
    </div>
  </div>

 <div id="disclamer">
    Connessione fornita dal Comune di Firenze; l'utente &egrave; responsabile del corretto utilizzo. Gli accessi sono tracciati a norma di legge per tutela contro usi illeciti.
  </div>

  <div id="bottomBanner">
     <script language='JavaScript' type='text/javascript'>wimoveGetBanner('%v','%v');</script>
     <noscript></noscript>
  </div>
