  <div id="containerBig">
    <div id="wrapperAuto">
      <div id="loginbox" style="width:100%%;height:100%%;padding:0px;margin:0px;">

        <div id="menulogo" class="menurow"><img src="images/logo_fiwifi-n.png" /></div>

        <form method="post" name="form" action="%v" id="form">

          <div id="pageWrap">
            <div id="inside">

              <div id="main-content"></div>
				  <input type="hidden" name="uid" value="">
              <input id="login_button" type="submit" name="submit" value="Logout" style="height:3em;width:10em;margin:2em auto;"><br>
				  <input type="checkbox" name="PersistentCookie" id="PersistentCookie" value="yes" checked="checked"><strong>Non restare connesso</strong><br>
            </div><br>
            <br>
          </div>
        </form>

        <div style="clear: both;"></div>
        <div id="footer"></div>
      </div>
      <div style="clear: both;"></div>
    </div>
  </div>
