  <div id="containerBig">
    <div id="wrapperAuto">
      <div id="loginbox" style="width:100%%;height:100%%;padding:0px;margin:0px;">
        <div id="menulogo" class="menurow">
				<img src="images/logo_fiwifi-n.png" />
		  </div>

           <div id="page-wrap">
            <div id="inside">
              <div id="left-sidebar">
                <h1><p>%s</p></h1>
              </div>

              <div id="main-content">
              </div>
            </div>
          </div>

        <div style="clear: both;"></div>
        <div id="footer"></div>
      </div>
		  %s
      <div style="clear: both;"></div>
    </div>
  </div>
