  <div id="containerBig">
    <div id="wrapperAuto">
      <div id="loginbox" style="width:100%%;height:100%%;padding:0px;margin:0px;">
        <div id="menulogo" class="menurow">
				<img src="images/logo_fiwifi-n.png" />
		  </div>

        <br>
        <h1>%s</h1>
        <br>
        %s
        <br>
        %s
        <br>

        <div style="clear: both;"></div>
        <div id="footer">%s</div>
      </div>
      <div style="clear: both;"></div>
    </div>
  </div>
