  <div id="containerBig">
    <div id="wrapperAuto">
      <div id="loginbox" style="width:100%%;height:100%%;padding:0px;margin:0px;">
        <div id="menulogo" class="menurow">
				<img src="images/logo_fiwifi-n.png" />
		  </div>

        <center><h1>Ti ringraziamo per avere usato il servizio <!--#echo var=$TITLE_TXT -->, arrivederci</h1></center>
		  <br />
		  <br />

		  <table class="centered" border="1">
			 <tr><th class="header" colspan="2" align="left">Utente&nbsp;&nbsp;&nbsp;%v</th></tr>
			 <tr><td class="header">Tempo residuo (min)</td><td class="data_italic">%v</td></tr>
			 <tr><td class="header">Traffico residuo (MB)</td><td class="data_italic">%v</td></tr>
		  </table>
        <div style="clear: both;"></div>
        <div id="footer"></div>
			%s
      </div>
      <div style="clear: both;"></div>
    </div>
  </div>
